body {
	font-family : Arial;
	font-weight : lighter;
}

.widget_container {
	border : 2px outset #808080;
}

#topten-table {
	width : 33%;
}

.topten-th {
	text-align : left;
}

#scrolltopten {
	overflow : scroll;
	height : 240px;
}